<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questions</title>
    <meta name="description" content="Mega giga kox fajna super stronka.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
<div class="header">

    <div>
        <nav>
            <select onchange="window.location.href=this.value;" class="custom-select">
                <option value="/main" default hidden></option>
                <option value="/questions/all">Questions</option>
                <option th:if="${isLogged}" value="/tags/add">Add a tag</option>
                <option th:if="${isLogged}" value="/user/profile">Profile</option>
            </select>
        </nav>
    </div>

    <div class="logo-cointainer">
        <a href="/main">
            <img src="/images/logo.png" alt="logo" style="width: 100px; height: 100px;">
        </a>
    </div>

    <div class="search-cointeiner">
        <form th:action="@{/questions/search}" method="post" id="searchForm">
            <input type="text" name="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="login-cointeiner" th:unless="${isLogged}">
        <form action="/auth/login" method="GET">
            <button type="submit">Log in</button>
        </form>
    </div>
    <div class="login-cointeiner" th:if="${isLogged}">
        <form action="/auth/logout" method="POST">
            <button type="submit">Log out</button>
        </form>
    </div>

</div>

<div class="header-center-divider"></div>

<div class="center">
    <h1>
        Search results
    </h1>
    <table style="width: 100%;">
        <tr>
            <th>Topic</th>
            <th>Content</th>
        </tr>
        <tr th:each="question : ${questions}">
            <td style="font-weight: bold;" th:text="${question.topic}">Id</td>
            <td th:text="${question.content}">Title</td>
        </tr>
    </table>
</div>


<script src="" async defer></script>
</body>

</html>